$blue: #006ec5;
$grey: #585858;
$lightblue: #00b3e3;
html, body {
  min-height: 100%;
  font-family: $book;
  font-size: 16px;
  line-height: 1.125;
  color: #fff;
}

body {
  // background: url("/assets/images/city.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  background: #1b2833;
  &::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
    // opacity: 0.3;
    content: '';
    // background: linear-gradient(-45deg, #169fb8, #007fa3);
  }
}

p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

h3, h4 {
  font-size: 1.5rem;
  font-family: $bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.logo {
  img {
    max-height: 100%;
  }
}

a {
  color: inherit;
  &:hover, &:active, &:visited {
    color: inherit;
  }
}

input {
  width: 100%;
  height: 100%;
}

.header{
  background: #182027;;
  color: #fff;
  &>div{
    width: 33%;
    &.header-title{
      display: flex;
      justify-content: center;
    }
    &.header-contact{
      display: flex;
      justify-content: flex-end;
      span{
      }
    }
  }
}
.icon-back{
  position: relative;
  border-radius: 50%;
  border: 1px solid #fff;
  height: 35px;
  width: 35px;
  margin: 0 15px 0 0;
  i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    margin: 0;
    height: 19px;
    width: 15px;
  }
}