.page.start-page {
  h3 {
    //font-size: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
  }

  .dashboard-wr {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 40px;
    .builder-task{
      margin: 0;
    }
    .inside-wr {
      padding-top: 40px;
      display: flex;
      width: 100%;

      .lists-wr {
        position: relative;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;

        .list-wrapper {
          width: 33%;
          display: flex;
          flex-direction: column;
        }

        .list-name {
          text-align: center;
          h3 {
            margin: 0;
          }
        }

        .list {
          @include scrollbar;

          flex: 1 1 auto;
          overflow-y: auto;
          margin: 0 5px 0 0;
          padding: 10px;
          box-sizing: border-box;
          z-index: 1;
          border-radius: 5px;
          border: 3px dashed transparent;
          transition: border 0.3s, background 0.3s;
          &.back-list {
            //position: absolute;
            // left:0;
          }

          &.can-drop {
            border-color: #fff;
          }

          &.is-active {
            border-color: #fff;
            background: transparentize(green, 0.8);
          }

        }
        .first-list {

        }
        &.back-fields {
          position: absolute;
          z-index: 0;
        }


        // main page start wth search

      }

      .builder-task {

      }
    }

    &.main-page{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 0;
      .header-wr{
        //background: #fff;
        .goAdmin{
          color: #000;
        }
        .search-wr{
          position: relative;
          .search-btn{
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
            border-radius: 0 5px 5px 0;
            height: 100%;
            background: #3e3e3e;
            z-index: 1;

            cursor: pointer;
            transition: 0.4s background;

            a{
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              span{
                color: #fff;
              }

            }
            &:hover{
              background: rgba(62, 62, 62, 0.5);
            }
          }
          .autocomplete{
          .autocomplete__selected{
            .autocomplete__items{
              span{
                color: #000;
              }
            }
          }
          .autocomplete__menu--wrap{
            .autocomplete__menu{
              position: relative;
              input{
                height: 40px;
                margin: 0;
                padding: 0 0 0 15px;
                box-sizing: border-box;
                border-radius: 5px;
                border: none;
                font-size: 20px;
                background: #ccc;
              }
              ul.autocomplete__items{
                position: absolute;
                top: 40px;
                width: 100%;
                background: #bebebe;
                z-index: 10;
                padding: 2px 0 0 0;
                border-radius: 5px;
                max-height: 300px;
                overflow: auto;
                li{
                  color: #585858;
                  padding: 5px 0 5px 15px;
                  font-size: 20px;
                  cursor: pointer;
                  transition: 0.4s background;
                  span{
                    text-transform: none;
                    font-family: serif;
                    font-size: 18px;
                  }
                  &:hover{
                    background: #ccc;
                  }

                }
              }
              &.autocomplete__menu--hidden{
                ul.autocomplete__items{
                  display: none;
                }
              }
            }
          }
        }


          .react-autosuggest__container {

            position: relative;
          }

          .react-autosuggest__input {
            width: 100%;
            height: 50px;
            padding: 10px 20px;
            box-sizing: border-box;
            font-family: Helvetica, sans-serif;
            font-weight: 300;
            font-size: 16px;
            border: 1px solid #aaa;
            border-radius: 4px;
          }

          .react-autosuggest__input:focus {
            outline: none;
          }
          .dancounsell {
            background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/48.jpg);
          }
          .react-autosuggest__container--open .react-autosuggest__input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          .react-autosuggest__suggestions-container {
            display: none;
          }

          .react-autosuggest__container--open .react-autosuggest__suggestions-container {
            display: block;
            position: absolute;
            top: 51px;
            width: 100%;
            border: 1px solid #aaa;
            background-color: #fff;
            font-family: Helvetica, sans-serif;
            font-weight: 300;
            font-size: 16px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            z-index: 2;
          }

          .react-autosuggest__suggestions-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
          }

          .react-autosuggest__suggestion {
            cursor: pointer;
            padding: 10px 20px;
          }

          .react-autosuggest__suggestion:not(:first-child) {
            border-top: 1px solid #ddd;
          }

          .react-autosuggest__suggestion--focused {
            background-color: #0C7EAF;
            color: #fff;
          }

          .suggestion-content {
            position: relative;
            display: flex;
            align-items: center;
            background-repeat: no-repeat;
            span{
              color: #3e3e3e;
            }
            .cost-cv{
              position: absolute;
              right: 20px;
              top:50%;
              transform: translate(0, -50%);

              color: #000;
            }
          }

          .name {

            line-height: 45px;
          }

          .highlight {
            color: #ee0000;
            font-weight: bold;
          }

          .react-autosuggest__suggestion--focused .highlight {
            color: #120000;
          }

          /*.react-autosuggest__section-container--first {

          }*/

          .react-autosuggest__section-title {
            position: absolute;
            right: 0;
            padding: 10px 20px 0 10px;
            font-size: 20px;
            color: #777;
            text-align: right;

          }

        }
      }
      .inside-wr{
        .lists-wr{
          display: block;
          &>a{
            float: left;
            width: 30%;
            margin: 0 5% 20px 0;
            &:nth-child(3n){
              margin: 0 0 20px 0;
            }
          }
          .task{
            cursor: pointer;
            transition: 0.4s background;
            background: rgba(255, 255, 255, 0.0);

            &:hover{
              background: rgba(255, 255, 255, 0.2);
            }
          }
        }
      }
    }
  }

}