.input-box {
  margin: 0;

  .error {
    color: #f10000;
    display: block;
    line-height: 20px;
    height: 15px;
  }

  input {
    height: 45px;
  }

  input, textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #e1e3e5;
    font-size: 18px;
    line-height: 21px;
    color: #006ec5;
    @include placeholder {
      color: #bebebe;
    }
    width: 100%;
    resize: none;
    transition: border 0.3s;
    &:focus {
      outline: none;
      border: 1px solid $lightblue;
    }
  }
  & > textarea {
    height: 25vh;
  }
  .input-error {
    display: none;
    color: #f10000;
  }
  &.error {
    margin: 0 0 25px 0;
    line-height: 25px;
    height: 25px;
    input {
      border: 1px solid #f10000;
    }
    .input-error {
      display: block;
    }
  }
  .file-input-wr{
    position: relative;
    padding: 50px 0px 0px;
    box-sizing: border-box;
    input{
      top:0;
      z-index: 10;
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    span{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 5;
      color: #080808;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      height: 50px;
    }
    p{
      margin: 0;
    }
    .preVision{
      max-width: 100%;
      max-height: 200px;
      padding: 10px 0 0 0;
      &.hidden{
        display: none;
      }
      img{
        margin: 0 auto;
        display: block;
        height: 200px;
      }
    }
  }

}

