.page.task-page {
  height: 100vh;
  overflow: hidden;
  h3 {
    color: #006ec5;
    //font-size: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
  }

  .inside-wr {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    //height: 100vh;

    .task-header {
      position: relative;
      line-height: 60px;
      height: 75px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #303b45;
      padding: 0 20px;
      box-sizing: border-box;
      a {
        i {
          margin-right: 15px;
        }
      }
      .left-part {
        display: flex;
        align-items: center;

        .icon-back{
          position: relative;
          border-radius: 50%;
          //border: 1px solid #fff;
          height: 35px;
          width: 35px;
          margin: 0 15px 0 0;
          i{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
            margin: 0;
            height: 19px;
            width: 15px;
          }
        }
      }
      .center-part{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 100%;
        .header-center-wr {
          display: flex;
          height: 100%;
          align-items: center;
          .image-wr{
            border-radius: 50%;
            margin: 0 20px 0 0;
            height: 50px;
            width: 50px;
            overflow: hidden;
            img {
              width: 100%;
            }
            }
          }

          .center-info {
            height: 60px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            p{
              margin: 0;
              line-height: 20px;
            }
            .name {
              font-weight: 600;

            }
            .info-position {
              font-size: 13px;
              color: #14b3fb;
            }
          }
        }
      }
      .right-part {
        display: flex;
        align-items: center;
        p {
          margin: 0;
          line-height: 20px;
        }
        span {
          line-height: 20px;
        }
        .cost-info {
          padding: 0 20px 0 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .cost{
            color: #fcd500;
            span{
              font-weight: 600;
            }
          }
          .cost-desc {
            font-size: 13px;
          }
          p{
            height: 20px;
          }
        }
        .proc-btn {
          height: 40px;
          display: flex;
          align-items: center;
          background-color: rgb(20, 179, 251);
          border-radius: 4px;
          padding: 0 15px;
          cursor: pointer;
          transition: 0.4s background;
          &:hover{
            background: #57cbff;
          }
        }
      }
    }

    .task-wr {
      width: 100%;
    }
    .task {
      margin: 0 10px;

      .map {
        height: 300px;
        width: 100%
      }
      .markerMap {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 5px;
        background: #2c6c89;
        img {
          max-width: 100%;
        }
      }
      h4 {

      }
      p {

        &.date-task {

        }
      }
    }
    .bg-popup {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 20;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.6s background;
      &.hidden {
        z-index: -100;
        background: rgba(0, 0, 0, 0);
      }
    }
    .popup-send-mail {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 400px;
      width: 100%;
      max-width: 600px;
      background: #1b2833;
      z-index: 30;
      transition: 0.6s transform;

      &.hidden {
        //display: none;
        transform: translate(500%, -50%);

      }
      &.anim-popup{
        animation-name: example;
        animation-duration: 0.4s;
        animation-delay: 0.6s;
        @keyframes example {
          0% {transform: translate(-50%, -50%);}
          30% {transform: translate(-55%, -50%);}
          100% {transform: translate(-50%, -50%);}
        }
      }
      .preload{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(20, 179, 251, 0.12);
        border-radius: 5px;
        z-index: 20;
        img{
          position: absolute;
          width: 50px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      p.header-send {
        margin: 0;
        background: #182027;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        text-transform: uppercase;
        span {

        }
      }
      .body-send {
        padding: 0 30px 0 30px;
        .input-wr {
          width: 100%;
          margin: 50px 0 0 0;
          box-sizing: border-box;
          position: relative;

          input{
            height: 45px;
            border-radius: 5px;
            border: 1px solid #2a3f50;
            box-sizing: border-box;
            background: #1f2e3b;
            padding: 0 10px;
            color: #84b6d4;
            transition: 0.4s border;
            &::placeholder {
              color: #4d6c7f;
            }
            &:focus {
              border-bottom: 1px solid #4d6c7f;
            }
          }
          .error{
            position: absolute;
            top: 13px;
            right: -50px;
            transition: 0.4s right;
            &.show{
              right: 15px;
            }
          }
          &.success{
            input{
              border: 1px solid #71af64;
            }
          }

        }
        .info-text{
          margin: 15px 0 0 0;
          height: 15px;
          display: flex;
          align-items: center;
          .svg-wr{
            height: 15px;
            margin: 0 5px 0 0;
          }
          span{
            font-size: 10px;
            a{
              color: #14b3fb;
              cursor: pointer;
            }
          }
        }
        .send-message{
          .success-test{
            text-align: center;
            color: #71af64;
          }
          .unsuccess-test{
            text-align: center;
            color: #f10000;
          }
        }
        .send-btn-wr {
          display: flex;
          justify-content: space-between;
          max-width: 260px;
          margin: 40px auto 0;
          & > div {
            width: 80px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #14b3fb;
            border-radius: 4px;
            padding: 0 15px;
            cursor: pointer;
            transition: 0.4s background;
            &:hover{
              background: #57cbff;
            }
            span {

            }
            &.disabled{
              cursor: default;
              background: #1686b9;
              &:hover {
                background: #1686b9;
              }
            }
          }

        }
      }
    }
    .footer-task {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
      border-top: 1px solid #303b45;
      .footer-wr {
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        & > div {
          height: 40px;
          display: flex;
          align-items: center;
          background-color: #14b3fb;
          border-radius: 4px;
          padding: 0 15px;
          cursor: pointer;
          transition: 0.4s background;
          &:hover {
            background: #3eb7ef;
          }
          &.send-btn {
            margin: 0 20px 0 0;
          }
        }
      }
    }


  &.user-task {
    .inside-wr {
      .task-wr {
        height: calc(100% - 110px);
        .taskView{
          background: transparent;
          box-shadow: none;
          margin: 0;
          height: calc(100% - 85px);
          padding: 60px 20px 10px 60px;
        }
      }
    }
  }
  &.admin-task {
    height: 100%;
    .footer-task {
      display: none;
    }
  }
}