.page.filter-page {
  h3 {
    //font-size: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
  }

  .dashboard-wr {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .inside-wr {
      padding-top: 40px;
      display: flex;
      width: 100%;

      .lists-wr {
        position: relative;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        background: #19242d;
        .list-wrapper {
          width: 33%;
          display: flex;
          flex-direction: column;
        }

        .list-name {
          text-align: center;
          h3 {
            margin: 0;
          }
        }

        .list {
          @include scrollbar;

          flex: 1 1 auto;
          overflow-y: auto;
          margin: 0 5px 0 0;
          padding: 10px;
          box-sizing: border-box;
          z-index: 1;
          border-radius: 5px;
          border: 3px dashed transparent;
          transition: border 0.3s, background 0.3s;
          &.back-list {
            //position: absolute;
            // left:0;
          }

          &.can-drop {
            border-color: #fff;
          }

          &.is-active {
            border-color: #fff;
            background: transparentize(green, 0.8);
          }

        }
        .first-list {

        }
        &.back-fields {
          position: absolute;
          z-index: 0;
        }


        // main page start wth search

      }

    }

    &.filter-page{
      position: relative;
      .header-wr{
        //margin: 40px 0 0 0;
        // padding: 0 0 20px 0;
        .goAdmin{
          color: #000;
        }
        .search-wr{
          position: relative;
          box-sizing: border-box;
          padding: 0 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: #1b2833;
          .search-wr-inside{
            position: relative;
            width: 100%;
            z-index: 100;
            margin: 10px 0 10px 0;
            &:nth-child(2){
              margin: 5px 0 10px 0;
            }
            .search-btn{
              position: absolute;
              right: 0;
              top: 0;
              width: 100px;
              border-radius: 0 5px 5px 0;
              height: 100%;
              background: #14b3fb;
              z-index: 1;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.4s background;

              span{
                color: #fff;
              }
              &:hover{
                background: #0078af;
              }
              &.hidden{
                background: #0078af;
              }

            }
            .filter-btn{
              position: absolute;
              right: 100px;
              top: 0;
              width: 100px;
              height: 100%;
              background: #14b3fb;
              z-index: 1;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.4s background;
              border-right: 1px solid #fff;

              span{
                color: #fff;
              }
              &:hover{
                background: #0078af;
              }

            }
            .Select {
              position: relative;
            }
            .Select,
            .Select div,
            .Select input,
            .Select span {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            }
            .Select.is-disabled > .Select-control {
              background-color: #182027;
              border-radius: 6px;
            }
            .Select.is-disabled > .Select-control:hover {
              box-shadow: none;
            }
            .Select.is-disabled .Select-arrow-zone {
              cursor: default;
              pointer-events: none;
              opacity: 0.35;
            }
            .Select-control {
              background-color: #1f2e3b;
              border-radius: 6px;
              border: 1px solid #2a3f50;
              color: #333;
              cursor: default;
              display: table;
              border-spacing: 0;
              border-collapse: separate;
              height: 35px;
              outline: none;
              overflow: hidden;
              position: relative;
              width: 100%;
            }
            .Select-control:hover {
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
            }
            .Select-control .Select-input:focus {
              outline: none;
            }
            .is-searchable.is-open > .Select-control {
              cursor: text;
            }
            .is-open > .Select-control {
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
              background-color: #1f2e3b;
              border-color: #2a3f50;
            }
            .is-open > .Select-control .Select-arrow {
              top: -2px;
              border-color: transparent transparent #999;
              border-width: 0 5px 5px;
            }
            .is-searchable.is-focused:not(.is-open) > .Select-control {
              cursor: text;
            }
            .is-focused:not(.is-open) > .Select-control {
              border-color: #007eff;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
            }
            .Select-placeholder,
            .Select--single > .Select-control .Select-value {
              bottom: 0;
              color: #aaa;
              left: 0;
              line-height: 34px;
              padding-left: 10px;
              padding-right: 10px;
              position: absolute;
              right: 0;
              top: 0;
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .has-value.Select--single > .Select-control .Select-value .Select-value-label,
            .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
              color: #333;
            }
            .has-value.Select--single > .Select-control .Select-value a.Select-value-label,
            .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
              cursor: pointer;
              text-decoration: none;
            }
            .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
            .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
            .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
            .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
              color: #007eff;
              outline: none;
              text-decoration: underline;
            }
            .Select-input {
              height: 34px;
              padding-left: 10px;
              padding-right: 10px;
              vertical-align: middle;
            }
            .Select-input > input {
              width: 100%;
              background: none transparent;
              border: 0 none;
              box-shadow: none;
              cursor: default;
              display: inline-block;
              font-family: inherit;
              font-size: inherit;
              margin: 0;
              outline: none;
              line-height: 14px;
              /* For IE 8 compatibility */
              padding: 0px 0 12px;
              /* For IE 8 compatibility */
              -webkit-appearance: none;
              color: #fff;
            }
            .is-focused .Select-input > input {
              cursor: text;
            }
            .has-value.is-pseudo-focused .Select-input {
              opacity: 0;
            }
            .Select-control:not(.is-searchable) > .Select-input {
              outline: none;
            }
            .Select-loading-zone {
              cursor: pointer;
              display: table-cell;
              position: relative;
              text-align: center;
              vertical-align: middle;
              width: 16px;
            }
            .Select-loading {
              -webkit-animation: Select-animation-spin 400ms infinite linear;
              -o-animation: Select-animation-spin 400ms infinite linear;
              animation: Select-animation-spin 400ms infinite linear;
              width: 16px;
              height: 16px;
              box-sizing: border-box;
              border-radius: 50%;
              border: 2px solid #ccc;
              border-right-color: #333;
              display: inline-block;
              position: relative;
              vertical-align: middle;
            }
            .Select-clear-zone {
              -webkit-animation: Select-animation-fadeIn 200ms;
              -o-animation: Select-animation-fadeIn 200ms;
              animation: Select-animation-fadeIn 200ms;
              color: #999;
              cursor: pointer;
              display: table-cell;
              position: relative;
              text-align: center;
              vertical-align: middle;
              width: 17px;
            }
            .Select-clear-zone:hover {
              color: #D0021B;
            }
            .Select-clear {
              display: inline-block;
              font-size: 18px;
              line-height: 1;
            }
            .Select--multi .Select-clear-zone {
              width: 17px;
            }
            .Select-arrow-zone {
              cursor: pointer;
              display: table-cell;
              position: relative;
              text-align: center;
              vertical-align: middle;
              width: 25px;
              padding-right: 5px;
            }
            .Select-arrow {
              border-color: #999 transparent transparent;
              border-style: solid;
              border-width: 5px 5px 2.5px;
              display: inline-block;
              height: 0;
              width: 0;
              position: relative;
            }
            .is-open .Select-arrow,
            .Select-arrow-zone:hover > .Select-arrow {
              border-top-color: #666;
            }
            .Select--multi .Select-multi-value-wrapper {
              display: inline-block;
            }
            .Select .Select-aria-only {
              display: inline-block;
              height: 1px;
              width: 1px;
              margin: -1px;
              clip: rect(0, 0, 0, 0);
              overflow: hidden;
              float: left;
            }
            @-webkit-keyframes Select-animation-fadeIn {
              from {
                opacity: 0;
              }
              to {
                opacity: 1;
              }
            }
            @keyframes Select-animation-fadeIn {
              from {
                opacity: 0;
              }
              to {
                opacity: 1;
              }
            }
            .Select-menu-outer {
              border-bottom-right-radius: 4px;
              border-bottom-left-radius: 4px;
              background-color: #1f2e3b;
              border: 1px solid #2a3f50;
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
              box-sizing: border-box;
              margin-top: -1px;
              max-height: 200px;
              position: absolute;
              top: 100%;
              width: 100%;
              z-index: 1;
              -webkit-overflow-scrolling: touch;
              color: #fff;
            }
            .Select-menu {
              max-height: 198px;
              overflow-y: auto;
            }
            .Select-option {
              box-sizing: border-box;
              //background-color: #fff;
              color: #666666;
              cursor: pointer;
              display: block;
              padding: 8px 10px;
            }
            .Select-option:last-child {
              border-bottom-right-radius: 4px;
              border-bottom-left-radius: 4px;
            }
            .Select-option.is-selected {
              //background-color: #f5faff;
              /* Fallback color for IE 8 */
              background-color: rgba(0, 126, 255, 0.04);
              color: #fff;
            }
            .Select-option.is-focused {
             // background-color: #ebf5ff;
              /* Fallback color for IE 8 */
              background-color: rgba(0, 126, 255, 0.08);
              color: #fff;
            }
            .Select-option.is-disabled {
              color: #cccccc;
              cursor: default;
            }
            .Select-noresults {
              box-sizing: border-box;
              color: #999999;
              cursor: default;
              display: block;
              padding: 8px 10px;
            }
            .Select--multi .Select-input {
              vertical-align: middle;
              margin-left: 10px;
              padding: 0;
            }
            .Select--multi.has-value .Select-input {
              margin-left: 5px;
            }
            .Select--multi .Select-value {
              //background-color: #ebf5ff;
              /* Fallback color for IE 8 */
              background-color: rgba(0, 126, 255, 0.08);
              border-radius: 2px;
              //border: 1px solid #c2e0ff;

              /* Fallback color for IE 8 */
              //border: 1px solid rgba(0, 126, 255, 0.24);
              border: none;
              color: #fff;
              display: inline-block;
              font-size: 0.9em;
              line-height: 1.4;
              margin-left: 5px;
              margin-top: 5px;
              vertical-align: top;
              &:nth-child(1){
                background-color: #5826d1;
              }
              &:nth-child(2){
                background-color: #0d54d1;
              }
              &:nth-child(3){
                background-color: #b52cb7;
              }
              &:nth-child(4){
                background-color: #ed8303;
              }
              &:nth-child(4){
                background-color: #6caf12;
              }
            }
            .Select--multi .Select-value-icon,
            .Select--multi .Select-value-label {
              display: inline-block;
              vertical-align: middle;
            }
            .Select--multi .Select-value-label {
              border-bottom-right-radius: 2px;
              border-top-right-radius: 2px;
              cursor: default;
              padding: 2px 5px;
            }
            .Select--multi a.Select-value-label {
              color: #007eff;
              cursor: pointer;
              text-decoration: none;
            }
            .Select--multi a.Select-value-label:hover {
              text-decoration: underline;
            }
            .Select--multi .Select-value-icon {
              cursor: pointer;
              border-bottom-left-radius: 2px;
              border-top-left-radius: 2px;
              border-right: 1px solid #c2e0ff;
              /* Fallback color for IE 8 */
              border-right: 1px solid rgba(0, 126, 255, 0.24);
              padding: 1px 5px 3px;
            }
            .Select--multi .Select-value-icon:hover,
            .Select--multi .Select-value-icon:focus {
              background-color: #d8eafd;
              /* Fallback color for IE 8 */
              background-color: rgba(0, 113, 230, 0.08);
              color: #0071e6;
            }
            .Select--multi .Select-value-icon:active {
              background-color: #c2e0ff;
              /* Fallback color for IE 8 */
              background-color: rgba(0, 126, 255, 0.24);
            }
            .Select--multi.is-disabled .Select-value {
              background-color: #0078af;
              border: none;
              color: #fff;
            }
            .Select--multi.is-disabled .Select-value-icon {
              cursor: not-allowed;
              border-right: 1px solid #e3e3e3;
            }
            .Select--multi.is-disabled .Select-value-icon:hover,
            .Select--multi.is-disabled .Select-value-icon:focus,
            .Select--multi.is-disabled .Select-value-icon:active {
              background-color: #fcfcfc;
            }
            @keyframes Select-animation-spin {
              to {
                transform: rotate(1turn);
              }
            }
            @-webkit-keyframes Select-animation-spin {
              to {
                -webkit-transform: rotate(1turn);
              }
            }

          }

          .autocomplete{
          .autocomplete__selected{
            .autocomplete__items{
              span{
                color: #000;
              }
            }
          }
          .autocomplete__menu--wrap{
            .autocomplete__menu{
              position: relative;
              input{
                height: 40px;
                margin: 0;
                padding: 0 0 0 15px;
                box-sizing: border-box;
                border-radius: 5px;
                border: none;
                font-size: 20px;
                background: #ccc;
              }
              ul.autocomplete__items{
                position: absolute;
                top: 40px;
                width: 100%;
                background: #bebebe;
                z-index: 10;
                padding: 2px 0 0 0;
                border-radius: 5px;
                max-height: 300px;
                overflow: auto;
                li{
                  color: #585858;
                  padding: 5px 0 5px 15px;
                  font-size: 20px;
                  cursor: pointer;
                  transition: 0.4s background;
                  span{
                    text-transform: none;
                    font-family: serif;
                    font-size: 18px;
                  }
                  &:hover{
                    background: #ccc;
                  }

                }
              }
              &.autocomplete__menu--hidden{
                ul.autocomplete__items{
                  display: none;
                }
              }
            }
          }
        }




        }
      }
      .inside-wr{
        display: flex;
        padding: 0;
        height: calc(100vh - 110px);
        //border-top: 1px solid #ccc;
        overflow: hidden;
        &.with-filter-skill{
        height: calc(100vh - 160px);
        }
        .left-filter{
          position: relative;
          width: 100%;
          max-width: 300px;
          padding: 20px 20px 70px 20px;
          //border-right: 1px solid #ccc;
          background: #182027;
          box-sizing: border-box;
          min-height: 60vh;
          transition: 0.6s width, 0.6s padding, 0.6s transform;
          overflow: hidden;

          .range-filter{
            padding: 0 0 50px 0;
            h4{
              color: #fcd500;
              text-align: center;
            }
            .input-range__label-container{
              opacity: 0;
            }
            .input-range__slider {
              appearance: none;
              background: #14b3fb;
              border: 1px solid #14b3fb;
              border-radius: 100%;
              cursor: pointer;
              display: block;
              height: 1rem;
              margin-left: -0.5rem;
              margin-top: -0.65rem;
              outline: none;
              position: absolute;
              top: 50%;
              transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
              width: 1rem; }
            .input-range__slider:active {
              transform: scale(1.3); }
            .input-range__slider:focus {
              box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
            .input-range--disabled .input-range__slider {
              background: #cccccc;
              border: 1px solid #cccccc;
              box-shadow: none;
              transform: none; }

            .input-range__slider-container {
              transition: left 0.3s ease-out; }

            .input-range__label {
              color: #aaaaaa;
              font-family: "Helvetica Neue", san-serif;
              font-size: 0.8rem;
              transform: translateZ(0);
              white-space: nowrap; }

            .input-range__label--min,
            .input-range__label--max {
              bottom: -1.4rem;
              position: absolute; }

            .input-range__label--min {
              left: 0; }

            .input-range__label--max {
              right: 0; }

            .input-range__label--value {
              position: absolute;
              top: -1.8rem; }

            .input-range__label-container {
              left: -50%;
              position: relative; }
            .input-range__label--max .input-range__label-container {
              left: 50%; }

            .input-range__track {
              background: #eeeeee;
              border-radius: 0.3rem;
              cursor: pointer;
              display: block;
              height: 0.3rem;
              position: relative;
              transition: left 0.3s ease-out, width 0.3s ease-out; }
            .input-range--disabled .input-range__track {
              background: #eeeeee;
            }
            .input-range__track--background {
              left: 0;
              margin-top: -0.15rem;
              position: absolute;
              right: 0;
              top: 50%;
            }
            .input-range__track--active {
              background: #14b3fb;
            }
            .input-range {
              height: 1rem;
              position: relative;
              width: 100%; }

            .filter-cost{
              display: flex;
              justify-content: space-between;
              span{
                padding: 10px 0 0 0;
                color: #fff;
                font-size: 20px;
              }
            }
          }
          .experience-year{
            h4{
              color: #fcd500;
              text-align: center;
            }
            .radio-wr{
              margin: 0 0 5px 0;
              input{
                height: 40px;
              }
            }
            .radio-wr{
              $color1: #f4f4f4;
              $color2: #3197EE;

              height: 40px;
              padding: 5px 0;
              margin: 0;
              box-sizing: border-box;
              input[type="checkbox"] {
                position: absolute;
                opacity: 0;
                + .radio-label {
                  &:before {
                    content: '';
                    background: $color1;
                    border-radius: 4px;
                    border: 1px solid #fcd500;
                    box-shadow: 0 0 1px 0px #fcd500;
                    display: inline-block;
                    width: 1.4em;
                    height: 1.4em;
                    position: relative;
                    top: -0.2em;
                    margin-right: 1em;
                    vertical-align: top;
                    cursor: pointer;
                    text-align: center;
                    transition: all 250ms ease;
                  }
                }
                &:checked {
                  + .radio-label {
                    &:before {
                      // content: '1';
                      background-color: #fcd500;
                      box-shadow: inset 0 0 0 4px $color1;
                    }
                  }
                }
                &:focus {
                  + .radio-label {
                    &:before {
                      outline: none;
                      //border-color: $color2;
                    }
                  }
                }
                &:disabled {
                  + .radio-label {
                    &:before {
                      box-shadow: inset 0 0 0 4px $color1;
                      border-color: darken($color1, 25%);
                      background: darken($color1, 25%);
                    }
                  }
                }
                + .radio-label {
                  &:empty {
                    &:before {
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }

          .bottom-control{
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            width: 100%;
            &>div{
              width: 100%;
              height: 70px;
              display: flex;
              align-items: center;
              justify-content: center;
              //border-top: 1px solid #ccc ;
              cursor: pointer;
              transition: 0.4s background;
              background: #12191f;
              &.clear{
                //border-right: 1px solid #ccc ;
                span{
                  position: relative;
                  color: #a1ddf9;
                  i{
                    position: absolute;
                    left: -20px;
                  }
                }
              }
              &:hover{
                background: rgba(18, 25, 31, 0.4);
              }
            }
          }

          &.hidden{
            padding: 20px 0 70px 0;
            width: 0;
            border: 0;
            overflow: hidden;
            transform: translate( -120%, 0);
          }
        }
        .lists-wr{
          display: block;
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          overflow: auto;
          transition: 0.6s width;
          &>a{
            float: left;
            width: 30%;
            margin: 0 5% 20px 0;
            &:nth-child(3n){
              margin: 0 0 20px 0;
            }
          }
          .task{
            min-height: 220px;
            cursor: pointer;
            transition: 0.4s background;
            background: rgba(255, 255, 255, 0.0);

            &:hover{
              background: rgba(255, 255, 255, 0.2);
            }
            .main-cv{
              width: 100%;
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              align-items: flex-end;
              padding: 0 10px;
              box-sizing: border-box;
              .line-cv{
                &.title{
                  color: #fff;
                }
                &.cost{
                  color: #fcd500;
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }

}