.page.send-page {
  h3 {
    //font-size: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
  }

  .dashboard-wr {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    .back-wr{
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;
      .back-btn{
        span{

        }
      }
    }

    .inside-wr {
      height: calc(100vh - 110px);
      padding-top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;


      h4{
        margin: 0;
        padding: 20px 0 20px 0;
        text-align: center;
      }
      .builder-task{
        margin: 0;
        padding: 0;
        height: 100%;
        background: transparent;
        .form-wr{
          padding: 0;
          margin: 0 auto;
          form{
            .form-body{
              max-width: 600px;
              margin: 0 auto;
              width: 100%;
            }
            .input-box{
              position: relative;
              overflow: hidden;
              input{
                height: 35px;
                border-radius: 5px;
                border: 1px solid #2a3f50;
                box-sizing: border-box;
                background: #1f2e3b;
                color: #84b6d4;
                transition: 0.4s border;
                &::placeholder {
                  color: #4d6c7f;
                }
                &:focus {
                  border-bottom: 1px solid #4d6c7f;
                }
              }
              textarea{
                border-radius: 5px;
                padding: 5px 10px;
                background: #1f2e3b;
                border: 1px solid #2a3f50;
                box-sizing: border-box;
                color: #84b6d4;
                &::placeholder {
                  color: #4d6c7f;
                }
                &:focus {
                 &:after{
                   border-bottom: 1px solid #ccc;
                 }
                }
              }
              .error{
                position: absolute;
                top: 23px;
                right: -50px;
                transition: 0.4s right;
                &.show{
                  right: 15px;
                }
              }
            }
            .btn-wr{
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0);
              bottom: 0;
              display: flex;
              width: 100%;
              padding: 10px 0;
              border-top: 1px solid #ccc;
              .btn-body{
                max-width: 300px;
                display: flex;
                margin: 0 auto;
                .btn-cancel{
                  height: 40px;
                  width: 140px;
                  background-color: #14b3fb;
                  align-items: center;
                  display: flex;
                  justify-content: center;
                  border-radius: 5px;
                  cursor: pointer;
                  margin: 0 5px 0 0;
                  span{
                    text-align: center;
                    font-family: "Roboto Condensed";
                  }
                }
                button{
                  height: 40px;
                  border-radius: 5px;
                  margin: 0 0 0 5px;
                  width: 140px;
                  background-color: #14b3fb;
                }
              }

            }

          }
        }
      }
    }

    .presentation-wr{
      padding-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      .presentation-header{
        position: relative;
        height: 60px;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        .btn-back{
          position: absolute;
          left: 20px;

        }
        .header-center{
          p{
            margin: 0;
            text-align: center;
          }

        }
      }
      .diagram-wr{
        position: relative;
        width: 100%;
        height: calc(100vh - 180px);
        padding: 0 0 20px 0;
        box-sizing: border-box;
        .diagram-box{
          height: 800px;
          max-height: 100%;
          background: #2764a0;
          border-radius: 10px;
          max-width: 600px;
          margin: 0 auto;
        }
        .bg-view{
          position: absolute;
          display: flex;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          .left-part, .right-part{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            z-index: -1;
            .part-header{
              text-align: center;
            }
            .part-image{

            }
          }
          .left-part{
            width: 100%;
          }
          .right-part{
            width: 100%;
          }
        }
      }
      .presentation-footer{
        display: flex;
        width: 100%;
        justify-content: center;
        height: 70px;
        align-items: center;
        border-top: 1px solid #ccc;
        box-sizing: border-box;
        .order-btn{
          width: 140px;
          border-radius: 5px;
          height: 40px;
          background: #3e3e3e;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.4s background;

          span{
            color: #fff;
          }
          &:hover{
            background: rgba(62, 62, 62, 0.5);
          }
        }
      }
    }

  }

}