.page.send-page {
  h3 {
    //font-size: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
  }

  .dashboard-wr {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    .main-form-wr{
      position: relative;

      .send-form-header{
        height: 75px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        .btn-back{
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }

    .inside-wr {
      height: calc(100vh - 125px);
      padding-top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;



      .builder-task{
        margin: 0;
        padding: 0;
        height: 100%;
        background: transparent;
        .form-wr{
          position: relative;
          height: 100%;
          margin: 0 auto;
          padding: 0 0 60px 0;
          box-sizing: border-box;
          .bg-view{
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            right: 0;
            bottom: 60px;
            width: 100%;
            //background: url(/assets/images/pres-work.png) no-repeat;
            .left-part, .right-part{
              display: flex;

              justify-content: center;
              flex-direction: row;
              z-index: -1;
              .part-header{
                text-align: center;
              }
              .part-image{
                display: flex;
                align-items: flex-end;
              }
              img{
                width: 100%;
              }
            }
            .left-part{
              width: 100%;
            }
            .right-part{
              width: 100%;
            }
          }
          form{
            .input-wr{
              margin: 15px 0 0;
              padding: 0;
            }
            .form-body{
              position: relative;
              max-width: 520px;
              margin: 0 auto;
              width: 100%;
              background: #182027;
              padding: 20px;
              border-radius: 5px;
              h4{
                margin: 0;
                padding: 20px 0 20px 0;
                text-align: center;
                color: #fcd500;
              }
              .preload{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(20, 179, 251, 0.12);
                border-radius: 5px;
                z-index: 10;
                img{
                  position: absolute;
                  width: 50px;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
              &:after{

              }
            }
            .mes-wr{
              text-align: center;
              p{
                &.success{
                  color: #27e356;
                }
                &.error{
                  color: #e32c00;
                }
              }
            }
            .input-box{
              position: relative;
              overflow: hidden;
              &:first-child{
                padding: 0;
              }
              input{
                height: 35px;
                border-radius: 5px;
                border: 1px solid #2a3f50;
                box-sizing: border-box;
                background: #1f2e3b;
                color: #84b6d4;
                transition: 0.4s border;
                &::placeholder {
                  color: #4d6c7f;
                }
                &:focus {
                  border-bottom: 1px solid #4d6c7f;
                }
              }
              textarea{
                border-radius: 5px;
                padding: 5px 10px;
                background: #1f2e3b;
                border: 1px solid #2a3f50;
                box-sizing: border-box;
                color: #84b6d4;
                &::placeholder {
                  color: #4d6c7f;
                }
                &:focus {
                 &:after{
                   border-bottom: 1px solid #ccc;
                 }
                }
              }
              .error{
                position: absolute;
                top: 9px;
                right: -50px;
                transition: 0.4s right;
                &.show{
                  right: 15px;
                }
              }
            }
            .btn-wr{
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0);
              bottom: 0;
              display: flex;
              width: 100%;
              padding: 10px 0;
              border-top: 1px solid #ccc;
              .btn-body{
                max-width: 300px;
                display: flex;
                margin: 0 auto;
                .btn-cancel{
                  height: 40px;
                  width: 140px;
                  background-color: #14b3fb;
                  align-items: center;
                  display: flex;
                  justify-content: center;
                  border-radius: 5px;
                  cursor: pointer;
                  margin: 0 5px 0 0;
                  span{
                    text-align: center;
                    font-family: "Roboto Condensed";
                  }
                  &:hover{
                    background: #57cbff;
                  }
                }
                button{
                  height: 40px;
                  border-radius: 5px;
                  margin: 0 0 0 5px;
                  width: 140px;
                  background-color: #14b3fb;
                  &:disabled{
                    background-color: #146f98;
                    &:hover{
                      background: #146f98;
                    }
                  }
                  &:hover{
                    background: #57cbff;
                  }
                }
              }

            }

          }
        }
      }
    }

    .presentation-wr{
      padding-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      .presentation-header{
        position: relative;
        height: 75px;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 0 0 90px 0;
        .btn-back{
          position: absolute;
          left: 20px;
          cursor: pointer;
          .left-part{
            display: flex;
            align-items: center;
          }

        }
        .header-center{
          h4{
            color: #fff;
            font-weight: 600;
            text-align: center;
            margin: 0;
          }
          p{
            color: #fcd500;
            margin: 0;
            text-align: center;
            span{
              font-weight: 600;
            }
          }

        }
      }
      .diagram-wr{
        position: relative;
        width: 100%;
        height: calc(100vh - 285px);
        padding: 0 0 20px 0;
        box-sizing: border-box;
        .diagram-box{
          position: relative;
          max-height: 100%;
          background: #182027;
          border-radius: 10px;
          max-width: 520px;
          margin: 0 auto;
          z-index: 10;
          padding: 50px 20px 70px 20px;
          box-sizing: border-box;
          img{
            width: 100%;
          }
          .part-header{
            position: absolute;
            top: 0;
            width: 50%;
            h4{
              font-size: 18px;
              text-transform: uppercase;
              margin: 0 0 10px 0;
            }
            p{
              font-size: 12px;
              color: #fcd500;
            }

            &.left-work{
              padding: 0 20px 0 0;
              box-sizing: border-box;
              left: -50%;
              text-align: right;
            }
            &.right-work{
              padding: 0 0 0 20px;
              box-sizing: border-box;
              right: -50%;
            }
          }
        }
        .bg-view{
          position: absolute;
          display: flex;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          //background: url(/assets/images/pres-work.png) no-repeat;
          .left-part, .right-part{
            display: flex;

            justify-content: center;
            flex-direction: row;
            z-index: -1;
            .part-header{
              text-align: center;
            }
            .part-image{
              display: flex;
              align-items: flex-end;
            }
            img{
              width: 100%;
            }
          }
          .left-part{
            width: 100%;
          }
          .right-part{
            width: 100%;
          }
        }
      }
      .presentation-footer{
        display: flex;
        width: 100%;
        justify-content: center;
        height: 70px;
        align-items: center;
        border-top: 1px solid #ccc;
        box-sizing: border-box;
        .order-btn{
          width: 140px;
          border-radius: 5px;
          height: 40px;
          background: #14b3fb;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.4s background;

          span{
            color: #fff;
          }
          &:hover{
            background: #57cbff;
          }
        }
      }
    }
    
    .thank-wr{
      position: relative;
      background: url(/assets/images/bg-thank.jpg) no-repeat;
      background-size: 100% 100%;
      height: calc( 100vh - 50px);
      display: flex;
      flex-direction: column;
      .btn-back{
        display: flex;
        align-items: center;
        height: 75px;
        padding: 0 20px;
        cursor: pointer;
        z-index: 100;
      }
      .thank-body{
        position: absolute;
        width: 100%;
        height: 100%;
        .thank-text{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          h4{
            color: #fcd500;
          }
          p{
            font-size: 25px;
            span{
              font-size: 18px;
            }
          }
          .exit-btn{
            height: 40px;
            width: 100px;
            background-color: #14b3fb;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 auto;
            transition: 0.4s background;
            span{
              text-align: center;
            }
            &:hover{
              background: #57cbff;
            }
          }
        }

      }

    }

  }

}