.page.task-page {
  height: 100vh;
  h3 {
    color: #006ec5;
    //font-size: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
  }

  .inside-wr {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    //height: 100vh;

    .task-header {
      line-height: 60px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      a {
        i {
          margin-right: 15px;
        }
      }
      .left-part{

      }
      .right-part{
        display: flex;
        p{
          height: 30px;
          margin: 0;
          line-height: 30px;
        }
        span{
          line-height: 30px;
        }
        .header-center-wr{
          padding: 0 20px 0 0;
          img{

          }
          .center-info{
            .name{

            }
            .info-position{
              font-size: 13px;
            }
          }
        }
        .cost-info{
          padding: 0 20px 0 0;
          .cost-desc{
            font-size: 13px;
          }
        }
        .proc-btn{
          height: 40px;
          display: flex;
          align-items: center;
          background: #3e3e3e;
          border-radius: 4px;
          padding: 0 15px;
          margin: 10px 10px 10px 0;
          cursor: pointer;
          transition: 0.4s background;
        }
      }
    }

    .task-wr {
      width: 100%;
    }
    .task {
      margin: 0 10px;

      .map {
        height: 300px;
        width: 100%
      }
      .markerMap {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 5px;
        background: #2c6c89;
        img {
          max-width: 100%;
        }
      }
      h4 {

      }
      p {

        &.date-task {

        }
      }
    }

    .footer-task{
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
      border-top: 1px solid #ccc;
      .footer-wr{
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        &>div{
          height: 40px;
          display: flex;
          align-items: center;
          background: #3e3e3e;
          border-radius: 4px;
          padding: 0 15px;
          cursor: pointer;
          transition: 0.4s background;
          &:hover{
            background: rgba(62, 62, 62, 0.89);
          }
          &.send-btn{
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }

  &.admin-task{
    height: 100%;
    .footer-task{
      display: none;
    }
  }
}