.task-draggable {
  &.is-dragging {
    opacity: 1;
    .task{
      background: linear-gradient(135deg, rgba(253, 253, 253, 0.5), rgba(0, 127, 163, 0));
      box-shadow: 0 0 10px transparentize(#fff, 0.7);
    }
  }

}

.taskView {
  position: relative;
  background: transparent;
  margin: 0 0 20px 0;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  color: #fff;
  box-shadow: 0 0 10px transparentize(#000, 0.7);
  background: linear-gradient(135deg, rgba(253, 253, 253, 0.4), rgba(0, 127, 163, 0));

  .main-cv, .description-cv{
    display: flex;
    width: 50%;
    flex-direction: column;
    overflow: auto;
    @include scrollbar;

    /*.line-cv{
      display: flex;
      margin: 0 0 5px 0;
      h4{
        margin: 0;

        &:first-child{
          min-width: 50%;
        }
        &:nth-child(2){
          text-transform: none;
        }
      }
      p{
        margin: 0;
        &:first-child{
          min-width: 50%;
        }
      }
    }*/

    .main-skills, .addition-skills, .desc-work, .conclusion{
      @include scrollbar;
      min-height: 90px;
      .skill-title, .desc-title{
        position: relative;
        padding: 0 0 30px 0;
        box-sizing: border-box;
        &:before{
          content: '';
          position: absolute;
          left: 19px;
          bottom: -20px;
          height: 50px;
          width: 2px;
          background: #fcd500;
        }
        span{
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 0;
          height: 40px;
          width: 40px;
          border: 2px solid #fcd500;
          box-sizing: border-box;
          i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        p{
         // height: 40px;
          padding: 0 0 0 50px;
          box-sizing: border-box;
          margin: 0;
          line-height: 40px;
          font-size: 25px;
          font-weight: 600;
        }
      }
      .skill{
        position: relative;
        padding: 0 0 10px 0;
        box-sizing: border-box;
        &:before{
          content: '';
          position: absolute;
          left: 19px;
          top: 20px;
          height: 100%;
          width: 2px;
          background: #fcd500;
        }
        &>span{
          position: absolute;
          left: 0;
          top: 0;
          height: 40px;
          width: 40px;

          box-sizing: border-box;
          span{
            position: absolute;
            left: 50%;
            top: 50%;
            height: 10px;
            width: 10px;
            background: #fcd500;
            border-radius: 50%;
            transform: translate(-50%, -50%);
          }
        }
        p{
          //height: 40px;
          padding: 0 0 0 50px;
          box-sizing: border-box;
          margin: 0;
          line-height: 40px;
          font-size: 18px;
        }
        &:last-child{
          &:before{
            opacity: 0;
          }

        }

      }
    }
    .desc-work{
      .skill{
        .title{
          color: #a5e3ff;
        }
      }
    }

    .main-skills{
      .skill{
        padding: 0 0 10px 0;
        &:last-child {
          &:before {
            top: 0;
            height: 100%;
            opacity: 1 !important;
          }
        }
      }
    }
    .conclusion{
      .desc-title{
        padding: 0;
        &:before{
          display: none;
        }
      }
      .recruter-header{
        display: flex;
        justify-content: flex-end;
      }
      .conclusion-text{
        position: relative;
        &:after{
          position: absolute;
          left: 0;
          top: 0;
          height: 50px;
          width: 50px;
          //background: url("");
        }
        p{
          padding: 0 0 0 80px;
          box-sizing: border-box;
          text-align: justify;
          font-style: italic;
        }
      }
    }
  }

  h4 {

  }
  p {

    &.date-task {

    }

  }
  .weather-indicator {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    img {
      width: 100%;
    }
  }
  .controls {
    display: flex;
    width: 40px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: relative;
    transform: translateY(10%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;

    .control {
      padding: 5px 0;
      box-sizing: border-box;
      height: 30px;
      width: 30px;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 1px #000;
      border-radius: 2px;
      margin-right: 5px;
      color: black;
      cursor: pointer;
      transition: background 0.3s, box-shadow 0.3s;

      a, .deleteButton {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.control-delete {
        color: #d0021b;
      }

      &:hover {

        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 3px #000;
      }
    }
  }

  &:hover {
    .controls {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}